.heroCon{
    padding: 5rem 0;
}
.heroTopSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.heroTextCon{
    width: 60%;
    padding: 5rem;
}

.heroTextCon h2{
    font-size: 3rem;
    line-height: 150%;
    color: #163828;
}

.heroImgCon{
    width: 40%;
    border-radius: 20px;
    box-shadow: 31px 32px 0px 0px rgba(169,208,70,0.75);
-webkit-box-shadow: 31px 32px 0px 0px rgba(169,208,70,0.75);
-moz-box-shadow: 31px 32px 0px 0px rgba(169,208,70,0.75);
}

.miniHeader{
    margin-top: 5rem;
    text-align: center;
    font-size: 2rem;
    color: #163828;
}

.heroIcon{
    display: flex;
    gap: 5rem;
    justify-content: space-around;
    padding: 3rem 0;
}

.heroIconIn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 33%;
}

.heroIconIn p{
    width: 90%;
    margin: 0 auto;
    font-weight: 700;
    text-align: center;
    font-size: 1.2rem;
}