.buttonCon {
    text-decoration: none;
    background-color: aqua;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    margin-top: 1rem;
    box-shadow: 3px 8px 17px 2px rgba(0, 168, 90, 0.49);
    -webkit-box-shadow: 3px 8px 17px 2px rgba(0, 168, 90, 0.49);
    -moz-box-shadow: 3px 8px 17px 2px rgba(0, 168, 90, 0.49);
}

.buttonCon:hover:after{
    content: " >";
}


/* Them no send me this one o */
.buttonCon:hover:before{
    content: "</ ";
}