.featuresCon {
    background-color: #EFF7F0;
    padding: 3rem 0;
}

.headingH2 {
    font-weight: 700;
    color: #163828;
    text-align: center;
    text-decoration: underline #00A85A;
    letter-spacing: 120%;
    text-underline-offset: 0.8rem;
    text-decoration-thickness: .35rem;
}

.headingTitle {
    padding-top: 2rem;
    font-weight: 500;
    margin: 0 auto;
    font-size: 1.2rem;
    text-align: center;
    line-height: 150%;
    color: #163828;
}

@media (min-width:767px) {
    .headingTitle {
        font-size: 2rem;
        width: 80%;
    }
}

.featuresTab1 {
    padding: 2em 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width:767px) {
    .featuresTab1 {
        padding: 4em 0;
        flex-direction: row;
        gap: 0;
    }
}

.altCol {
    flex-direction: column
}

@media (min-width:767px) {
    .altCol {
        flex-direction: row-reverse;
    }
}





@media (min-width:767px) {
    .featureT1 {
        width: 40%;
    }

    .featureT2 {
        width: 60%;
    }

    .moveIt{
        position: relative;
        right: -4rem;
    }

    .moveItL{
        position: relative;
        left: -5rem;
    }


    .featuresUnit div {
        width: 70%;
    }

    .unitCon {
        width: 15% !important;
    }
}







.headingFeat {
    color: #00A85A;
    text-decoration: underline #A9D046;
    font-size: 1.2rem;
    padding: 1rem 0;
    text-underline-offset: 0.8rem;
    text-decoration-thickness: .35rem;
    /* text-align: center; */
}

@media (min-width:737px) {
    .headingFeat {
        font-size: 1.5rem;
    }
}

.featuresUnit {
    padding: 2rem 0;
    display: flex;
    align-items: flex-start;
}

.featuresUnit h3 {
    font-size: 1.2rem;
    line-height: 150%;
    color: #163828;
}

.featuresUnit p {
    line-height: 200%;
    font-weight: 600;
    font-size: .8rem;
    color: #163828;
}



@media (min-width:767px) {
    .altPad {
        padding: 0rem 8rem 8rem;
    }
}