.featuresCon{
    background-color: #EFF7F0;
    padding: 3rem 0;
}

.headingH2{
    font-weight: 700;
    color: #163828;
    text-align: center;
    text-decoration: underline #00A85A;
    text-underline-offset: 0.7rem;
}

.headingTitle{
    padding-top: 2rem;
    font-weight: 500;
    width: 80%;
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
    line-height: 150%;
    color: #163828;
}

@media (min-width:767px) {
    .headingTitle{
        font-size: 2rem;;
    }
}

.featuresTab1{
    padding: 2em 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media (min-width:767px) {
    .featuresTab1{
        padding: 4em 0;
        flex-direction: row;
    }
}

.altCol{
    flex-direction: column-reverse;
}

@media (min-width:767px) {
    .altCol{
        flex-direction: row-reverse;
    }
}



@media (min-width:767px) {
    .featureT1{
    width: 40%;
}

 .featureT2{
    width: 60%;
}

.featuresUnit div{
    width: 70%;
}

.unitCon{
    width: 15% !important;
}
}







.headingFeat{
    color: #00A85A;
    text-decoration: underline #A9D046;
    text-underline-offset: 0.5rem;
    /* text-align: center; */
}

.featuresUnit{
    padding: 2rem 0;
    display: flex;
    align-items: flex-start;
}

.featuresUnit h3{
    font-size: 1.2rem;
    line-height: 150%;
    color: #163828;
}

.featuresUnit p{
    line-height: 200%;
    font-weight: 500;
    font-size: .8rem;
    color: #163828;
}

.altPad{
    padding:0rem 8rem 8rem;
}